<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LambdaConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] %c{1} - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="software.amazon.awssdk" level="WARN" />
        <Logger name="software.amazon.awssdk.request" level="DEBUG" />

        <Root level="INFO">
            <AppenderRef ref="LambdaConsole"/>
        </Root>
    </Loggers>
</Configuration>